@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}


.hideme .css-177gid-MuiTableCell-root{
  color: red !important;
}

.hideme1 .css-177gid-MuiTableCell-root{
    color: green !important;
  }